backend/flows/tutopool-tutor-confirmation.json
{
  "name": "TutoPool - Confirmación Tutor vía WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tutor-confirmation",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0000-0000-000000000001",
      "name": "Webhook - Nueva Solicitud",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -800,
        0
      ],
      "webhookId": "tutopool-tutor-confirmation"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8080/message/sendButtons/TutoPool",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"number\": \"{{ $json.body.data.tutor.telefono }}\",\n  \"delay\": 1200,\n  \"presence\": \"composing\",\n  \"buttonMessage\": {\n    \"title\": \"Nueva solicitud de tutoría\",\n    \"description\": \"Hola {{ $json.body.data.tutor.nombre }}, el estudiante {{ $json.body.data.estudiante.nombre }} quiere agendar una sesión de {{ $json.body.data.solicitud.duracion_minutos }} min el {{ $json.body.data.solicitud.fecha }} a las {{ $json.body.data.solicitud.hora }} ({{ $json.body.data.solicitud.formato }}).\\n\\n¿Puedes confirmar esta franja horaria?\",\n    \"footer\": \"TutoPool\",\n    \"buttons\": [\n      { \"buttonId\": \"confirmar\", \"buttonText\": { \"displayText\": \"Confirmar\" }, \"type\": 1 },\n      { \"buttonId\": \"rechazar\",  \"buttonText\": { \"displayText\": \"Rechazar\" },  \"type\": 1 }\n    ]\n  }\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0002-0000-0000-000000000002",
      "name": "WhatsApp al Tutor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -560,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE solicitudes_tutoria SET estado = 'notificacion_enviada' WHERE id = '{{ $('Webhook - Nueva Solicitud').item.json.body.data.solicitud.id }}'",
        "options": {}
      },
      "id": "a1b2c3d4-0003-0000-0000-000000000003",
      "name": "Marcar Notificación Enviada",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -320,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true, \"message\": \"Notificación enviada al tutor\" }",
        "options": {}
      },
      "id": "a1b2c3d4-0004-0000-0000-000000000004",
      "name": "Responder al Frontend",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -80,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tutor-respuesta",
        "options": {}
      },
      "id": "a1b2c3d4-0005-0000-0000-000000000005",
      "name": "Webhook - Respuesta Tutor",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -800,
        280
      ],
      "webhookId": "tutopool-tutor-respuesta"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "id": "cond-001",
              "leftValue": "={{ $json.body.buttonResponseMessage.selectedButtonId }}",
              "rightValue": "confirmar",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "combineOperation": "all"
      },
      "id": "a1b2c3d4-0006-0000-0000-000000000006",
      "name": "¿Confirma el Tutor?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -560,
        280
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE solicitudes_tutoria SET estado = 'confirmada' WHERE id = '{{ $json.body.solicitud_id }}'",
        "options": {}
      },
      "id": "a1b2c3d4-0007-0000-0000-000000000007",
      "name": "Confirmar Solicitud",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -320,
        160
      ],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE solicitudes_tutoria SET estado = 'rechazada' WHERE id = '{{ $json.body.solicitud_id }}'",
        "options": {}
      },
      "id": "a1b2c3d4-0008-0000-0000-000000000008",
      "name": "Rechazar Solicitud",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -320,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8080/message/sendText/TutoPool",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"number\": \"{{ $json.body.estudiante_telefono }}\",\n  \"delay\": 800,\n  \"presence\": \"composing\",\n  \"textMessage\": {\n    \"text\": \"✅ *Tu tutoría fue confirmada*\\n\\nEl tutor aceptó la franja horaria solicitada. Te llegará la información de conexión/lugar pronto.\\n\\n_TutoPool_\"\n  }\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0009-0000-0000-000000000009",
      "name": "WhatsApp Confirmación al Estudiante",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -80,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8080/message/sendText/TutoPool",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"number\": \"{{ $json.body.estudiante_telefono }}\",\n  \"delay\": 800,\n  \"presence\": \"composing\",\n  \"textMessage\": {\n    \"text\": \"❌ *El tutor no pudo confirmar esa franja*\\n\\nTe recomendamos elegir otro horario o tutor disponible en TutoPool.\\n\\n_TutoPool_\"\n  }\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0010-0000-0000-000000000010",
      "name": "WhatsApp Rechazo al Estudiante",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -80,
        400
      ]
    }
  ],
  "connections": {
    "Webhook - Nueva Solicitud": {
      "main": [
        [
          {
            "node": "WhatsApp al Tutor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp al Tutor": {
      "main": [
        [
          {
            "node": "Marcar Notificación Enviada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar Notificación Enviada": {
      "main": [
        [
          {
            "node": "Responder al Frontend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Respuesta Tutor": {
      "main": [
        [
          {
            "node": "¿Confirma el Tutor?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Confirma el Tutor?": {
      "main": [
        [
          {
            "node": "Confirmar Solicitud",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rechazar Solicitud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmar Solicitud": {
      "main": [
        [
          {
            "node": "WhatsApp Confirmación al Estudiante",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rechazar Solicitud": {
      "main": [
        [
          {
            "node": "WhatsApp Rechazo al Estudiante",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}